body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    outline: none
}

body {
    font: 12px/18px '微软雅黑', Arial, Tahoma, Helvetica, sans-serif;
    color: #666;
    text-align: left;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #f33c74;
    text-decoration: underline;
}

#ttk_ex {
    width: 420px;
    height: 598px;
    overflow: hidden;
}

li {
    list-style: none;
}

.top {
    background: url("images/ttk_top_bg.png") repeat-x;
}

.logo {
    padding-left: 18px;
}

.center {
    margin-bottom: 0px;
    overflow: hidden;
}

.bottom {
    background: url("images/ttk_bottom_bg.png") #f2f2f2 repeat-x;
    height: 34px;
    bottom: 2px;
    position: absolute;
    width: 384px;
}

.feedback {
    position: absolute;
    left: 10px;
    top: 7px;
}

.copyright {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 31px;
}

.newbie_faq {
    padding-left: 18px;
    padding-top: 14px;
    margin-bottom: 2px;
    overflow: hidden;
    zoom: 1;
    cursor: pointer;
}

.newbie_faq a {
    float: left;
    margin-right: 5px;
}

.row {
    clear: both;
    padding-left: 18px;
    display: inline-block;
    zoom: 1;
    margin-top: 8px;
    margin-bottom: 10px;

}

.row li {
    line-height: 20px;
}

.row li p {
    text-align: center;
}

.row h3 {
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-bottom: 5px;

}

.row h3 span {
    position: relative;
    top: -5px;
}

.new h3 {
    background-image: url("images/ttk_icon_voice.png");
}

.hot h3 {
    background-image: url("images/ttk_icon_lightning.png");
}

.sale h3 {
    background-image: url("images/ttk_icon_gou.png");
    background-position: left 5px;
}

.hot li, .sale li {
    float: left;
    width: 81px;
    height: 101px;
    margin-right: 8px;
    position: relative;
}

.hot li:last-child, .sale li:last-child {
    margin-right: 0px;
}

.row .price {
    position: absolute;
    right: 0px;
    top: 64px;
    color: #fff;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    padding: 1px 2px;
    height: 14px;
    line-height: 14px;
    font-family: thoma;
}

.row li img {
    width: 80px;
    height: 80px;
}

.new strong {
    color: #e93d72;
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 5px;
}

.new .gray {
    color: #666;
}

#pinpaitemai P {
    height: 20px;
    overflow: hidden;
}

.row li {
    cursor: pointer;
}

.new {
    height: 90px;
}

.hot {
    height: 130px;
    clear: both;
    width: 100%;
}

.sale {
    height: 130px;
    clear: both;
    width: 100%;
}

.row .nodata {
    text-align: center;
}